.app{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content : space-evenly;
	.title{
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.icons{
		display: flex;
		flex-direction: column;
		
		.topIcons{
			display: flex;
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
		}
		.botIcons{
			display: flex;
			justify-content: center;
		}
	}
	.buttonStart{
		display: flex;
		justify-content: center;
		button{
			padding:20px 80px;

		}
	}
	.textPresentation{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0 15px;
		p{
			text-align: center;
		}
	}
	.room1{
		height: 100%;
		overflow-y: hidden;
		img{
			width: 350%;
			object-position: 50% 50%;
			z-index: 1;
		}
		map{
			height: 100%;
			
			area{
				background-color: red;
				z-index:5;
			}
		}
	}
	.popUp{
		background-color: white;
		border : 2px solid black;
		height: 10%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		p{
			margin-bottom: 0;
			text-align: center;
		}
	}
}