.app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.app .title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .icons {
  display: flex;
  flex-direction: column;
}
.app .icons .topIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.app .icons .botIcons {
  display: flex;
  justify-content: center;
}
.app .buttonStart {
  display: flex;
  justify-content: center;
}
.app .buttonStart button {
  padding: 20px 80px;
}
.app .textPresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}
.app .textPresentation p {
  text-align: center;
}
.app .version {
  width: 100%;
  display: flex;
  justify-content: center;
}
.app .room1 {
  height: 100%;
  overflow-y: hidden;
}
.app .room1 img {
  width: 350%;
  object-position: 50% 50%;
  z-index: 1;
}
.app .room2 {
  height: 100%;
  overflow-y: hidden;
}
.app .room2 img {
  width: 370%;
  object-position: 50% 50%;
  z-index: 1;
}
.app .room2 .photos {
  position: absolute;
  background-color: white;
  height: 180px;
  width: 100%;
  top: 150px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.app .room2 .photos img {
  width: 150px;
}
.app .room2 .divList {
  position: absolute;
  background-color: white;
  height: 500px;
  width: 100%;
  top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.app .room2 .divList .titleList {
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding: 20px 0;
}
.app .room2 .divList .listItem {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
}
.app .room2 .divList .listItem .divInput {
  display: flex;
  justify-content: center;
  align-items: center;
}
.app .room2 .divList .listItem .divInput label {
  text-align: center;
}
.app .room4 {
  height: 100%;
  overflow-y: hidden;
}
.app .room4 .inputShare {
  position: absolute;
  background-color: white;
  height: 180px;
  width: 100%;
  top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}
.app .room4 .inputShare .titleList {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.app .room4 .inputShare .divInput {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  justify-content: space-around;
}
.app .room4 img {
  width: 400%;
  object-position: 50% 50%;
  z-index: 1;
}
.app .room5 {
  height: 100%;
  overflow-y: hidden;
}
.app .room5 img {
  width: 370%;
  object-position: 50% 50%;
  z-index: 1;
}
.app .popUp {
  background-color: white;
  border: 2px solid black;
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.app .popUp p {
  margin-bottom: 0;
  text-align: center;
}

.room3 {
  height: 100%;
  overflow-y: hidden;
}
.room3 img {
  width: 350%;
  object-position: 50% 50%;
  z-index: 1;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
